.carousel-item {
  @apply relative overflow-hidden;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  overflow: hidden;
}

.carousel-image {
  @apply w-full h-auto;
  height: 100%;
  object-fit: cover;
}

@screen sm {
  .carousel-image {
    @apply h-48 object-cover;
  }
}

@screen md {
  .carousel-image {
    @apply h-64 object-cover;
  }
}

@screen lg {
  .carousel-image {
    @apply h-80 object-cover;
  }
}
