@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: theme('colors.brand.primary');
  --brand-secondary: theme('colors.brand.secondary');
  --success-color: theme('colors.success');
  --warning-color: theme('colors.warning');
  --error-color: theme('colors.error');
}

body {
  @apply bg-gray-200 text-gray-900;
}

h1,
h2,
h3 {
  @apply font-serif;
}
