@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: theme('colors.brand.primary');
  --brand-secondary: theme('colors.brand.secondary');
  --success-color: theme('colors.success');
  --warning-color: theme('colors.warning');
  --error-color: theme('colors.error');
  --text-title: #4b5563;
  --text-body: #9ca3af;
}

body {
  @apply bg-gray-50;
}
